{% extends 'base_project.html.twig' %}
{% block body_class %}body--iframe{% endblock %}

{% block banner %}
	<h1>{{ app.config.frontend.title }}</h1>
{% endblock %}

{% block navigation_outer %}
	<!-- No navigation -->
{% endblock %}

{% block aside_outer %}
	<!-- No aside -->
{% endblock %}

{% block footer_outer %}
	<!-- No aside -->
{% endblock %}